<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>BBQ-Pi Dashboard</title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="stylesheet" href="adminlte/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/ionicons.min.css">
	<link rel="stylesheet" href="adminlte/dist/css/AdminLTE.min.css">
	<link rel="stylesheet" href="adminlte/dist/css/skins/skin-red.min.css">

	<link rel="stylesheet" href="css/bbqpi.css">
</head>

<body class="hold-transition skin-red">
<div class="wrapper" id="app">

	<header class="main-header">

		<a href="/" class="logo">
			<span class="logo-mini"><b>BBQ</b>-pi</span>
			<span class="logo-lg"><b>BBQ</b>-pi</span>
		</a>

		<nav class="navbar navbar-static-top" role="navigation">
			<!-- Sidebar toggle button-->
			<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
				<span class="sr-only">Toggle navigation</span>
			</a>

			<!-- Navbar Right Menu -->
			<div class="navbar-custom-menu">
				<ul class="nav navbar-nav">

					<!-- Control Sidebar Toggle Button -- >
					<li>
						<a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
					</li>
					-->
				</ul>
			</div>
		</nav>
	</header>
	<!-- Left side column. contains the logo and sidebar -->
	<aside class="main-sidebar">

		<section class="sidebar">
			<ul class="sidebar-menu">
				<li class="header">MAIN NAVIGATION</li>
				<li>
					<a href="/">
						<i class="fa fa-dashboard"></i> <span>Dashboard</span></i>
					</a>
				</li>
				<li>
					<a href="/" target="_blank" id="linkinfluxdb">
						<i class="fa fa-database"></i> <span>InfluxDB</span></i>
					</a>
				</li>
				<li>
					<a href="/" target="_blank" id="linkrpimonitor">
						<i class="fa fa-television"></i> <span>RpiMonitor</span></i>
					</a>
				</li>
			</ul>
		</section>
	</aside>

	<div class="content-wrapper">
		<section class="content-header">
			<h1>
				Dashboard
			</h1>
			<ol class="breadcrumb">
				<li><a href="#"><i class="fa fa-dashboard active"></i> Dashboard</a></li>
			</ol>
		</section>

		<!-- Main content -->
		<section class="content">

			<div class="row">
				<div class="col-md-4 col-sm-6 col-xs-6" v-for="probe in probes">
					<div v-bind:class="(probe.active ? probe.class : probe.class + ' disabled') + ' small-box'">
						<div class="inner">
							<h3>{{ probe.active ? probe.value : '-' }} °C</h3>

							<p>{{ probe.title }}</p>
						</div>
						<div class="icon">
							<i class="fa" v-bind:class="probe.icon ? probe.icon : '' "></i>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="box box-primary">
						<div class="box-header with-border">
							<h3 class="box-title">Verlauf</h3>

							<div class="box-tools pull-right">
								<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
								</button>
								<div class="btn-group">
									<button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
										<i class="fa fa-wrench"></i></button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#" v-on:click.prevent="setTempchartTimerange('10m', '30s')">-10 m</a></li>
										<li><a href="#" v-on:click.prevent="setTempchartTimerange('30m', '30s')">-10 m</a></li>
										<li><a href="#" v-on:click.prevent="setTempchartTimerange('1h', '1m')">-1 h</a></li>
										<li><a href="#" v-on:click.prevent="setTempchartTimerange('2h', '1m')">-2 h</a></li>
										<li><a href="#" v-on:click.prevent="setTempchartTimerange('5h', '10m')">-5 h</a></li>
										<li><a href="#" v-on:click.prevent="setTempchartTimerange('10h', '10m')">-10 h</a></li>
										<li><a href="#" v-on:click.prevent="setTempchartTimerange('24h', '10m')">-24 h</a></li>
									</ul>
								</div>
								<button type="button" class="btn btn-box-tool" v-on:click.prevent="updateTempchart()"><i class="fa fa-refresh"></i>
								</button>
							</div>
						</div>
						<div class="box-body">
							<div id="tempchart" style="height: 400px"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-xs-12">
					<div class="box box-default">
						<div class="box-header with-border">
							<h3 class="box-title">Camera</h3>

							<div class="box-tools pull-right">
								<button type="button" class="btn btn-box-tool" data-widget="collapse">
									<i class="fa fa-minus"></i>
								</button>
								<button type="button" class="btn btn-box-tool" v-on:click.prevent="updateCamera()"><i class="fa fa-refresh"></i>
								</button>
							</div>
						</div>
						<div class="box-body">
							<img src="/camera.jpg" class="img-responsive pad" id="camera" />
						</div>
					</div>
				</div>
				<div class="col-md-6 col-xs-12">
					<div class="box box-default">
						<div class="box-header with-border">
							<h3 class="box-title">Session Status</h3>

							<div class="box-tools pull-right">
								<button type="button" class="btn btn-box-tool" data-widget="collapse">
									<i class="fa fa-minus"></i>
								</button>
							</div>
						</div>
						<div class="box-body">
							Update: {{ lastUpdate | formatDateDDMMYYHHMM }} <br/>
							Session-ID: {{ session.identifier }} <br/>
							Start: {{ session.start | formatDateDDMMYYHHMM }}, {{ session.start | fromNow }}
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->

	<!-- Main Footer -->
	<footer class="main-footer">
		<strong>BBQ-Pi by <a href="http://etobi.de/">Tobias Liebig</a>.</strong>
	</footer>

	<!-- Control Sidebar -->
	<aside class="control-sidebar control-sidebar-dark">
		<!-- Create the tabs -->
		<ul class="nav nav-tabs nav-justified control-sidebar-tabs">
			<li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
			<li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
		</ul>
		<!-- Tab panes -->
		<div class="tab-content">
			<!-- Home tab content -->
			<div class="tab-pane active" id="control-sidebar-home-tab">
			</div>
			<!-- /.tab-pane -->

			<!-- Stats tab content -->
			<div class="tab-pane" id="control-sidebar-stats-tab">Settings</div>
			<!-- /.tab-pane -->
			<!-- Settings tab content -->
			<div class="tab-pane" id="control-sidebar-settings-tab">
				<form method="post">
					<h3 class="control-sidebar-heading">Settings</h3>
					<!-- /.form-group -->
				</form>
			</div>
			<!-- /.tab-pane -->
		</div>
	</aside>
	<!-- /.control-sidebar -->
	<div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<script src="adminlte/plugins/jQuery/jQuery-2.2.0.min.js"></script>
<script src="adminlte/plugins/flot/jquery.flot.min.js"></script>
<script src="adminlte/plugins/flot/jquery.flot.resize.min.js"></script>
<script src="adminlte/plugins/flot/jquery.flot.time.min.js"></script>
<script src="adminlte/bootstrap/js/bootstrap.min.js"></script>
<script src="adminlte/dist/js/app.min.js"></script>
<script src="socket.io/socket.io.js"></script>
<script src="moment/moment-with-locales.min.js"></script>
<script src="vue/vue.min.js"></script>

<script src="js/bbqpi-client.js"></script>

</body>
</html>
